<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<table th:style="'border: 1px solid black; border-collapse: collapse;'">
    <thead>
    <tr>
        <th th:style="'border: 1px solid black;'">Id</th>
        <th th:style="'border: 1px solid black;'">First name</th>
        <th th:style="'border: 1px solid black;'">Second name</th>
        <th th:style="'border: 1px solid black;'">Email</th>
        <th th:style="'border: 1px solid black;'">Update</th>
        <th th:style="'border: 1px solid black;'">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.getId()}" th:style="'border: 1px solid black;'"></td>
        <td>
            <input type="text" th:value="*{user.getFirstName()}"/>
        </td>
        <td>
            <input type="text" th:value="*{user.getSecondName()}"/>
        </td>
        <td>
            <input type="text" th:value="*{user.getEmail()}"/>
        </td>

        <td>
            <a th:href="@{/updateUser/__${user.getId()}__}">
                <button th:style="'height: 25px; width: 50px; background-color: green'"></button>
            </a>
        </td>
        <td>
            <a th:href="@{/deleteUser/__${user.getId()}__}">
                <button th:style="'height: 25px; width: 50px; background-color: red'"></button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<input type="button" value="Add user" onclick="window.location.href = 'addNewUser'">
</body>
</html>